$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-grey-1:#e7e7e7;
$color-grey-2:rgb(245, 245, 245);
$color-adress:rgb(57, 57, 57);

$breakpoints: (
    tab: 768px,
    desktop: 992px,
)