* {
  margin: 0;
  font-family: Roboto;
}

body {
  width: 100%;
}

ul, ol {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: black;
}

.all-btn {
  background: linear-gradient(#9356DC, #FF79DA);
  border: 0;
  box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.175);
  margin: auto;
  border-radius: 22px;
  font-size: 14px;
  font-weight: bold;
}

.header__nav {
  position: absolute;
  top: 22px;
  left: 18px;
}
.header__nav__arrow {
  color: rgb(57, 57, 57);
}

.main__img {
  width: 100%;
}

.main-menu {
  width: 100%;
  background-color: rgba(177, 177, 177, 0.116);
  border-radius: 30px;
}
.main-menu__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 40px 30px 18px;
}
.main-menu__box__title {
  font-family: Shrikhand;
  font-size: 28px;
  font-weight: 300;
}
.main-menu__box__like {
  line-height: 34px;
}

.menu {
  padding: 0px 16px 26px 16px;
}
.menu__title {
  width: 40px;
  border-bottom: 3px solid #99E2D0;
  color: rgba(0, 0, 0, 0.753);
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 4px;
}
.menu__big-box {
  display: flex;
  flex-direction: row;
}
.menu__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border-radius: 16px;
  margin-top: 16px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.07);
}
.menu__box__text-box {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 12px;
}
.menu__box__text-box__title {
  font-weight: 500;
  font-size: 18px;
}
.menu__box__text-box__text {
  padding-top: 2px;
  color: rgba(0, 0, 0, 0.836);
  font-weight: 400;
  font-size: 14px;
}
.menu__box__price-and-check {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.menu__box__price {
  font-weight: bold;
  font-size: 14px;
  color: rgb(62, 62, 62);
  display: inline-block;
}
.menu__box__check {
  position: relative;
  height: 100%;
  width: 54px;
  display: inline-block;
  color: white;
  border-radius: 0px 14px 14px 0px;
  background-color: #99E2D0;
}
.menu__box__check__icon {
  position: absolute;
  left: 17px;
  top: 30px;
}

.order-btn {
  color: white;
  font-size: 16px;
  font-weight: 400;
  width: 180px;
  padding: 14px 0 14px 0;
}

.header {
  display: flex;
  justify-content: center;
  padding: 20px 10px 10px 10px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.118);
}
.header__logo {
  width: 160px;
}

.research__location {
  background-color: rgba(128, 128, 128, 0.167);
  display: flex;
  justify-content: center;
  height: 44px;
}
.research__location__text {
  line-height: 44px;
  font-weight: 500;
  font-size: 15px;
}
.research__location__icon {
  margin-right: 20px;
}
.research__explorer {
  background-color: rgba(177, 177, 177, 0.116);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 250px;
}
.research__explorer__title {
  font-size: 22px;
  text-align: center;
  width: 70%;
  margin-left: 16%;
  margin-top: 30px;
}
.research__explorer__text {
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  margin-left: 6%;
  padding-top: 18px;
}
.research__explorer__btn {
  width: 190px;
  padding: 14px;
  margin-top: 20px;
}
.research__explorer__btn a {
  color: white;
}

#research-icon {
  line-height: 42px;
}

.working {
  display: flex;
  flex-direction: column;
  padding: 40px 0px 40px 0px;
}
.working__title {
  font-size: 24px;
  margin-bottom: 20px;
  margin-left: 14px;
}
.working__box {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: auto;
}
.working__box__li {
  background-color: rgba(177, 177, 177, 0.116);
  padding: 22px;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 20px;
  border: none;
  border-radius: 22px;
  position: relative;
  text-align: center;
  box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.175);
}
.working__box__li span {
  position: absolute;
  left: -6px;
  display: inline-block;
  background-color: #9356DC;
  color: white;
  border: 0 solid wheat;
  border-radius: 12px;
  width: 18px;
  height: 18px;
  text-align: center;
}
.working__box__li i {
  position: absolute;
  left: 30px;
}

.main-box {
  background-color: rgba(177, 177, 177, 0.116);
  display: flex;
  flex-direction: column;
}
.main-box__title {
  margin-left: 20px;
  padding-top: 50px;
}
.main-box__sub-box {
  display: flex;
  flex-direction: column;
  padding: 30px 0px 30px 0px;
}

.main-card {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.175);
  align-self: center;
  margin-bottom: 30px;
  width: 90%;
  height: 240px;
  background-color: white;
  border-radius: 16px;
  position: relative;
}
.main-card a {
  width: 100%;
}
.main-card__img {
  width: 100%;
  object-fit: cover;
  object-position: 10% 60%;
  border-radius: 16px 16px 0px 0px;
  height: 170px;
}
.main-card__box {
  position: relative;
}
.main-card__box__like {
  position: absolute;
  right: 28px;
  top: 28px;
}
.main-card__text-box {
  position: absolute;
  top: 10px;
  left: 12px;
}
.main-card__title {
  font-size: 17px;
}
.main-card__title-2 {
  font-size: 16px;
  font-weight: 300;
  margin-top: 5px;
}
.main-card__new {
  background-color: #99E2D0;
  position: absolute;
  right: 12px;
  top: 14px;
  padding: 6px 10px 6px 10px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 2px;
  color: #278870;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(56, 56, 56);
  padding: 20px 0px 26px 24px;
}
.footer__title {
  color: white;
  font-family: Shrikhand;
  font-weight: 400;
  font-size: 18px;
}
.footer__ul {
  padding-top: 18px;
}
.footer__li {
  font-size: 15px;
  padding-bottom: 6px;
}
.footer__li a {
  color: white;
}
.footer__icon {
  display: inline-block;
  width: 6px;
  padding-right: 16px;
  color: white;
}

/*# sourceMappingURL=style.css.map */
