@import "7to1/utils/variables";
@import "7to1/utils/mixins";
@import "7to1/utils/keyframes";
@import "7to1/base/global";
@import "7to1/base/base";
@import "7to1/pages/pages";

// + supprimer dossiers useless + text transform uppercase sur les h2 menu//
  //moz//
 