//loader & effects//
.index-load{
    opacity: 1;
    animation: index-load 1.8s linear;
    }
    
 @keyframes index-load {
    0%{opacity: 0;}
    99.99%{opacity: 0;}
    100%{opacity: 1;}
 }

 @keyframes spin {
   0% { transform: rotate(0deg); opacity: 1; width: 120px;}
   50%{transform: rotate(360deg); opacity: 1;}
   60%{transform: rotate(380deg);}
   100% {transform: rotate(720deg); opacity: 0; width: 120px;}
}
 //heart animation  (the transition is written in the mixins file)//
 @keyframes like {
    from {opacity: 0;}
    to {opacity: 1;}
 }

 //menu fade in//
 @for $i from 1 through 10{
    .fade-in__#{$i}{
       animation: fade-in 1s forwards $i * 0.15s;
    }
 }
 
 @keyframes fade-in {
 
    0%{
       top:-20px;
       opacity: 0;
    }
    
    100%{
       top:0px;
       opacity: 1;
    }
 }
 //check icon rotation//
 @keyframes rotate-check {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
 }
 //card shake//
 @keyframes card-rotate {
    0%{transform: rotate(0deg);}
    25%{transform: rotate(-5deg);}
    75%{transform: rotate(5deg);}
    100%{transform: rotate(0);}
 }
