@mixin purple-pink {
    background: linear-gradient(#9356DC, #FF79DA);
}
@mixin purple-back{
    background: linear-gradient( #9256dc25 100%, white)
}
//flex//
@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-row{
    display: flex;
    flex-direction: row;
}
//shadows//
@mixin main-shadow {
    box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.175);
}

@mixin sub-shadow {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.07);
}
//media//
@mixin tab-only {
    @media screen and (min-width: map-get($breakpoints, tab)) and (max-width:map-get($breakpoints, desktop)){
        @content;
    }
}

@mixin desktop-only {
    @media screen and (min-width: map-get($breakpoints, desktop)){
        @content;
    }
}
//heart transition //
@mixin heart-like {
    display: initial;
    font-weight: 900;
    background: -webkit-linear-gradient(225deg, $color-secondary, $color-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: like 1s ease-in-out; 
}